---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/footer.astro';

---

<Layout>
    <Header/>
      
    <section class=" -mt-50  ">
        <div class="max-w-4xl mx-auto px-6 text-center">
      
          <!-- Explicación de la Organización -->
          <p class="text-black text-lg leading-relaxed">
            <span class="text-gray-400 font-semibold">DarkLayer™</span> es una 
            organización sin ánimo de lucro dedicada a la privacidad y la seguridad digital. 
            Creemos que el derecho a la privacidad en línea es fundamental, por lo que 
            brindamos acceso a información, herramientas y recursos gratuitos para 
            proteger tu identidad en el mundo digital.
          </p>
      
          <p class="text-black text-lg leading-relaxed mt-4  ">
            En un mundo donde la vigilancia y la recopilación de datos son moneda corriente, 
            DarkLayer™ te ofrece el conocimiento y las soluciones necesarias para navegar 
            de manera segura y anónima. <br/> Nuestra comunidad comparte información sin restricciones, 
            sin costo y sin barreras.
          </p>

          <p class="text-black text-lg leading-relaxed mt-6  ">
            <span class="frase text-black-400 font-bold ">"No queremos que confíes en nosotros, queremos que aprendas a protegerte por ti mismo.
                En un mundo lleno de vigilancia masiva, el conocimiento es tu mejor escudo." </span> 
                <p class="mt-2 text-gray-800 text-lg font-medium">
                    — DarkLayer™
                  </p>
          </p>

          
      
         
        </div>
      </section>  
    
       
<Footer/>


</Layout>


<style>

.frase{
    text-decoration: underline;
} 



</style>