<header class="relative  flex flex-col items-center justify-center min-h-[60vh]">

    <div class="absolute top-2 w-full  py-2 flex justify-end px-6 space-x-4">
        <a href="https://github.com/Vicent00" target="_blank" class=" hover:text-blue-400 transition duration-300">
          <img src="/github.svg" alt="GitHub" class="w-6 h-6" />
        </a>
        <a href="https://linkedin.com/in/vicente-aguilar00" target="_blank" class=" hover:text-blue-400 transition duration-300">
          <img src="/linkedin.svg" alt="LinkedIn" class="w-6 h-6" />
        </a>
        <a href="mailto:info@vicenteaguilar.com" class=" hover:text-blue-400 transition duration-300">
          <img src="/email.svg" alt="Email" class="w-6 h-6" />
        </a>
      </div>

    <div >

        <nav class="absolute fixed top-5 left-1/2 transform -translate-x-1/2  text-black py-2 px-6 rounded-lg  shadow-lg">
            <ul class="flex space-x-8 m-2">
              <li><a href="/" class=" hover:text-gray-500 transition">Inicio</a></li>
              <li><a href="/crea_tu_entorno" class=" hover:text-gray-500 transition">Aprende privacidad</a></li>
              <li><a href="/herramientas" class=" hover:text-gray-500 transition">Herramientas</a></li>
              <li><a href="/blog/blog" class="hover:text-gray-500 transition">Blog</a></li>


            </ul>
          </nav>
          

    <h1 class="text-6xl text-black font-extrabold -mt-22">Dark Layer</h1>


</div>
</header>

<style>
nav{
  box-shadow: 5px 5px 5px rgb(161, 161, 161);
  opacity: 1;
  background-color: white;
  opacity: 0.95;

}


</style>